
/* tablet */ 
@media (min-width: 740px) and (max-width: 1023px) {
    .container1 {
        font-size: 12px;
        top: 45%;
    }
    .save {
        font-size: 46px;
        top: 94px;
        position: relative;
    }
    .avatar__img {
        width: 250px;
        height: 250px;
    }
    .container svg {
        width: 200px;
        top: 95px;
        height: 200px;
        position: relative;
    }
    
}

/* mobile */
@media (max-width: 739px) {
    .avatar {
        top: 95px;
    }
    .avatar__img {
        max-height: 150px;
        max-width: 150px;
        margin-left: 20px;
    }
    .container1 {
        font-size: 5px;
        top: 44%;
    }
    .container {
        margin-top: 165px;
    }
    .save {
        margin-top: -21px;
    }
    .letter1 {
        margin-top: 5px;
        flex-wrap: wrap;
    }
    #player {
        position: absolute;
        top: 0;
        width: 115px;
    }
}
@media (max-width: 320px) {
    .container1 {
        flex-wrap: wrap;
    }
    #player {
        position: absolute;
        top: 90%;
        width: 140px;
    }
    .avatar {
        top: 56px;
    }
}